.field {
  @apply w-full;
}

.label {
  @apply block font-medium text-2xs text-secondary-silverGray;
}

.input {
  @apply w-full pt-[5px] pb-2.5 font-medium text-sm text-secondary-silverGray bg-transparent border-b border-b-secondary-silverGray outline-none;
}

.radio {
  input {
    @apply hidden;

    &:checked {
      & ~ .indicator {
        @apply bg-black;

        &::after {
          @apply opacity-100;
        }
      }
    }
  }

  label {
    @apply flex items-center gap-x-2.5 cursor-pointer;
  }
}

.indicator {
  @apply relative block w-[13px] h-[13px] bg-secondary-lightGray rounded-full;

  &::after {
    @apply content-[''] absolute top-1 left-[3px] w-[7px] h-[5px] bg-[url('/check.svg')] bg-no-repeat opacity-0 transition-all;
  }
}

.caption {
  @apply block mb-2.5 xl:mb-3.5 font-semibold text-sm text-black;
}

.group {
  @apply grid grid-cols-2 lg:grid-cols-none	lg:grid-flow-col lg:auto-cols-max gap-x-5 gap-y-3.5;
}
